/* Header */
header {}
/* Header-top */
header .top {
    width: 1151px; height: 48px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* 마진 이용해서 항상 가운데로 맞추기 */
}
header .top .left {
    display: flex; flex-flow: row nowrap;
    align-items: center;
}
header .top .left h1 {}
header .top .left h1 a {}
header .top .left h1 a  img {}
header .top .left a {font-size: 0.875rem; margin-left: 16px;}
header .top .left a:first-child {margin-left: 0;}
header .top .right {}
header .top .right a {font-size: 0.875rem; margin-right: 16px;}
header .top .right a:first-child {margin-right: 0;}
/* Header-bottom */
header .btm {
    width: 1151px; height: 119px;
    margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .btm h1 {}
header .btm h1 a {}
header .btm h1 a img {}
header .btm #header_middle {}
header .btm #header_middle fieldset {
    width: 370px; height: 47px;
    border: 3px solid #1e6cb3;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13px 0 21px;
}
header .btm #header_middle fieldset input {
    width: 300px; outline: none;
}
header .btm #header_middle fieldset input::placeholder {
    color: #1e6cb3;
    font-weight: 500;
}
header .btm #header_middle fieldset #search_btn {
    width: 24px; height: 24px;
    /*  이미지 크기 조정이 아닌 영역 조정 -> 패딩이 생김  */
}
header .btm #header_middle fieldset #search_btn img {}
header .btm .right {}
header .btm .right #lang_form {
    float: right;
}
header .btm .right #lang_form fieldset {

}
header .btm .right #lang_form fieldset #lang {
    background-color: #fff;
    font-size: 0.8125rem;
    width: 98px; height: 28px;
    border: 1px solid #1e6cb3;
}
header .btm .right #lang_form fieldset #lang option {
    font-size: 0.8125rem;
}
header .btm .right #lang_form fieldset #go_btn {
    background-color: #1e6cb3;
    font-size: 0.8125rem; font-weight: 700; letter-spacing: ;
    width: 28px; height: 28px;
    color: #fff;
}
header .btm .right .weather {
    float: left;
    clear: both;
}
header .btm .right .weather p {
    font-size: 0.8125rem;
}
header .btm .right .weather .current_weather {
    font-size: 1.5rem; font-weight: 700; letter-spacing: -0.03rem;
    padding: 5px 0;
}
/* MAin 1행 */
/* MAin 1행 - banner */
/* MAin 1행 - right(코로나, 교통정보) */
/* MAin 2행 - 주요서비스 */
/* MAin 3행 - 배너 */
/* MAin 4행 - 게시판 */
/* MAin 4행 - 게시판 -이벤트신청 */
/* MAin 4행 - 게시판 -이달행사축제 */
/* MAin 4행 - 게시판 -서비스 */
/* MAin 5행 - 분야정보 */
/* MAin 6행 - 새소식 */
/* footer */
footer {
    width: 1151px; margin: 0 auto; 
}
/* footer -1행 */
footer .top {
display: flex; flex-flow: row nowrap;
justify-content: space-between;
align-items: center;
width: 1151px; height: 67px;
border-top: 1px solid #aaa;
border-bottom: 1px solid #aaa;
}
footer .top .menu {}
footer .top .menu a {
    margin-right: 16px;
}
footer .top .menu a:last-child {margin-right: 0;}
footer .top .menu a em {}
footer .top .sns {
    display: flex; flex-flow: row nowrap;
}
footer .top .sns a {
    background-image: url(../images/icon_sns2/icon_set03.png);
    background-repeat: no-repeat;
    width: 25px; height: 25px;
    text-indent: -9999px;
    display: block;
    margin-left: 16px;
    /* a태그가 인라인이므로 크기가 제대로 인식되지 않음.*/
    /* 인라인-블록으로 둘 경우 이후 공백이 생길 수 있어 블록으로 처리함 */
}
footer .top .sns a:nth-child(1) {margin-left: 0;}
footer .top .sns a:nth-child(2) {background-position-x: -25px;}
footer .top .sns a:nth-child(3) {background-position-x: -50px;}
footer .top .sns a:nth-child(4) {background-position-x: -75px;}
footer .top .sns a:nth-child(5) {background-position-x: -100px;}
footer .top .sns a:nth-child(6) {background-position-x: -125px;}
/* hover */
footer .top .sns a:hover {background-position-y: -25px;}
/* footer -2행 */
footer .btm {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 1151px; height: 105px;
}
footer .btm .left {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
footer .btm .left p {}
footer .btm .left p img {}
footer .btm .left address {
    line-height: normal;
    font-size: 13px;
    margin-left: 16px;
}
footer .btm .banner {}
footer .btm .banner a {margin-left: 16px;}
footer .btm .banner a:first-child {margin-left: 0;}
footer .btm .banner a img {}
